.footer {
    color: black;
    display: grid;
    grid-template-columns: 200px 251px auto 150px 200px;
    // background: linear-gradient(270deg, rgba(151, 227, 105, 0.9136904761904762) 76%, rgba(199, 238, 161, 1) 70%, rgba(151, 227, 105, 0.9921218487394958) 25%);
    // background: #1f3c52;
    background-color: #444444;
    color: #fff;
}

.footer .logo {
    text-align: center;
    border-right: 1px solid #fff;
}

.footer .logo img {
    width: 250px;
    height: 250px;
}

.footer .information {
    padding: 10px;
    border-right: 1px solid #fff;
}

.footer .facebook {
    text-align: center;
    border-right: 1px solid #fff;
}

.footer .facebook a {
    font-size: xxx-large;
    color: #0090ff;
}